<launch>
    <!-- Posix SITL MAVROS integration tests -->

    <arg name="ns" default="/"/>
    <arg name="headless" default="true"/>
    <arg name="gui" default="true"/>
    <arg name="est" default="ekf2"/>

    <include file="$(find px4)/launch/mavros_posix_sitl.launch">
        <arg name="ns" value="$(arg ns)"/>
        <arg name="headless" value="$(arg headless)"/>
        <arg name="gui" value="$(arg gui)"/>
        <arg name="vehicle" value="standard_vtol_downward_cam"/>
        <arg name="est" value="$(arg est)"/>
        <arg name="fcu_url" value="udp://:14540@127.0.0.1:14557"/>
        <arg name="world" value="$(find hector_quadrotor_demo)/world/hl.world"/>
        <arg name="config_yaml" value="$(find hector_quadrotor_demo)/launch/px4_config.yaml" />
    </include>

    <group ns="$(arg ns)">
        <test test-name="mission_test_new_1" pkg="px4" type="mission_test.py" time-limit="300.0" args="vtol_new_1.txt" />
        <test test-name="mission_test_new_2" pkg="px4" type="mission_test.py" time-limit="300.0" args="vtol_new_2.txt" />
        <test test-name="mission_test_old_1" pkg="px4" type="mission_test.py" time-limit="300.0" args="vtol_old_1.txt" />
        <test test-name="mission_test_old_2" pkg="px4" type="mission_test.py" time-limit="300.0" args="vtol_old_2.txt" />
        <test test-name="mission_test_old_3" pkg="px4" type="mission_test.py" time-limit="300.0" args="vtol_old_3.txt" />
    </group>
</launch>

<!-- vim: set et ft=xml fenc=utf-8 ff=unix sts=0 sw=4 ts=4 : -->
